{
  "env": {
    "jasmine": true
  },
  "rules": {
    "node/no-unpublished-require": [
      2,
      {
        "allowModules": ["chai", "sinon", "sinon-chai", "chai-as-promised"]
      }
    ],
    "no-underscore-dangle": 0
  }
}
